<h1 class="mt-2 p-4 text-center">Post table</h1>
<table class="table" >
  <thead class="table-info">
    <tr>
      <th>Title</th>
      <th>Body</th>
        <%if user_signed_in?%>
         <th>Author</th>
        <%end%>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |posts| %>
      <tr>
        <td><%= posts.title %></td>
        <td><%= posts.body %></td>
        <%if user_signed_in?%>
          <td><%= posts.user.name%></td>
        <%end%>
      </tr>
    <% end%>
  </tbody>
</table>

<br>
<%= link_to 'New Post', new_post_url, class: "btn btn-primary" %>
<% unless user_signed_in? %>
  <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary" %>
 <%end%>

