
<tbody>
  <section class="section">
      <div class="columns">
        <ul id="posts">
          <% @posts.each do |posts| %>
            <li>
              <span><%= posts.title %></span>
              <span><%= posts.body %></span>
              <%if user_signed_in?%>
                <span><%= posts.user.name%></span>
              <%end%>
            </li>
          <% end%>
        </ul>
      </div>
  </section>
</tbody>

<br>

<%= link_to 'New Post', new_post_url %>
<%= link_to 'Sign Out', destroy_user_session_path, method: "Delete" %>