<h1 class="mt-4 text-center">Post table</h1>
<table class="table" >
  <thead class="table-info">
    <tr>
      <th>Title</th>
      <th>Body</th>
        <%if user_signed_in?%>
         <th>Author</th>
        <%end%>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |posts| %>
      <tr>
        <td><%= posts.title %></td>
        <td><%= posts.body %></td>
        <%if user_signed_in?%>
          <td><%= posts.user.name%></td>
        <%end%>
      </tr>
    <% end%>
  </tbody>
</table>

<br>

<% unless user_signed_in? %>
<%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary" %>
<%= link_to 'Log in', user_session_path, class: "btn btn-primary"%>
<%end%>
<%= link_to 'New Post', new_post_url, class: "btn btn-primary" %>
<% if user_signed_in? %>
<%= link_to 'Sign Out', destroy_user_session_path, method: "Delete", class: "btn btn-primary" %>
<%end%>
